{{component}}
<div class="input-group">
    <input placeholder="Search by name.." #entry (keyup)="changeEntry(entry.value)" type="text"
        class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
<ul *ngIf="showList" class="list-group">
    <li *ngFor="let detail of details; let i = index" (mouseover)="selectedDetail=detail.managerid" [class.bg-light]="getSelected(detail)" (click)="onListSelect(detail.managerid, detail.firstname, detail.lastname, detail.company, detail.team)"
        class="list-group-item">
        <div class="text-capitalize text-monospace font-weight-bolder text-primary">
            {{ detail.firstname }}
            {{ detail.lastname }}</div>
        <div class="text-capitalize text-monospace text-muted">{{ detail.company }}</div>
    </li>
    <li class="p-1 mb-1 bg-light text-success"><button (click)="addNewManager()" type="submit" class="btn btn-outline-success m-0 p-1">Not Found? Create New Boss Profile</button></li>
</ul>
{{firstname}}
<form *ngIf="showForm">
    
    <div class="form-group">
        <label>First Name</label>
        <input (input)="firstname=$event.target.value" [value] = "firstname" class="form-control">     
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input (input)="lastname=$event.target.value" [value] = "lastname" class="form-control">
      </div>
      <div class="form-group">
        <label>Company Name</label>
        <input (input)="company=$event.target.value" [value] = "company" class="form-control">        
      </div>
      <div class="form-group">
        <label>Team</label>
        <input (input)="team=$event.target.value" [value] = "team" class="form-control">        
      </div>
    <button (click)="postDetail()" type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div *ngIf="showSuccess" class="alert alert-success" role="alert">
    {{tempMessage}}
  </div>